<!-- <div class="container my-1">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <p class="text-end">
        <span class="spinner-grow spinner-grow-sm text-danger" role="status">
          <span class="visually-hidden">Loading...</span>
        </span>
        Dine-in: <span class="dine-in-report"></span>
      </p>
    </div>
  </div>
</div> -->
<div class="container my-1 multi-button">
  <div class="row">
    <div class="col-xl-7 mx-auto text-center menu-button">
      <div class="row">
        <div class="col-xl-6 mx-auto d-grid gap-2"><a class="button shadow menu-button-fnblist" href="/fnb/list" role="button">F&B</a></div>
        <div class="col-xl-6 mx-auto d-grid gap-2"><a class="button shadow menu-button-stocklist py-auto" href="/stock/list" role="button">Stocks</a></div>
      </div>
      <div class="row">
        <div class="col-xl-6 mx-auto d-grid gap-2"><a class="button shadow menu-button-cardlist" href="/card/list" role="button">Card List</a></div>
        <div class="col-xl-6 mx-auto d-grid gap-2"><a class="button shadow menu-button-paymentlist" href="/payment/list" role="button">Payment List</a></div>
      </div>
      <div class="row">
        <div class="col-xl-6 mx-auto d-grid gap-2"><a class="button shadow menu-button-memberlist" href="/member/list" role="button">Member List</a></div>
        <div class="col-xl-6 mx-auto d-grid gap-2"><a class="button shadow menu-button-rulelist" href="/rule/list" role="button">Rules</a></div>
      </div>
      <div class="row">
        <div class="col-xl-6 mx-auto d-grid gap-2"><a class="button shadow menu-button-userlist" href="/user/list" role="button">User List</a></div>
        <div class="col-xl-6 mx-auto d-grid gap-2"><a class="button shadow menu-button-analysis" href="/analysis" role="button">Analysis</a></div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-xl-7 mx-auto">
      <div class="row">
        <div class="col-xl-5 d-grid gap-2 text-center menu-button">
          <a class="button shadow menu-button-back" href="/" role="button">Back</a>
        </div>
        <div class="col-xl-1"></div>
        <div class="col-xl-1"></div>
        <div class="col-xl-5"></div>
      </div>
    </div>
  </div>
</div>
<!-- <script src="/public/script/totalDineIn.js"></script> -->
