<div class="container my-2 multi-button">
  <div class="row">
    <div class="col-md-7 mx-auto d-grid gap-2 text-center menu-button">
      <a class="button shadow menu-button-cardlist" href="#" role="button">Card List</a>
      <a class="button shadow menu-button-transaction" href="#" role="button">Transaction</a>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-7 mx-auto">
      <div class="row">
        <div class="col-md-5 d-grid gap-2 text-center menu-button">
          <a class="button shadow menu-button-back" href="/" role="button">Back</a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>
</div>
