<div class="container my-1">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <p class="text-end">
        <span class="spinner-grow spinner-grow-sm text-danger" role="status">
          <span class="visually-hidden">Loading...</span>
        </span>
        Dine-in: <span class="dine-in-report"></span>
      </p>
    </div>
  </div>
</div>
<div class="container my-1 multi-button">
  <div class="row">
    <div class="col-md-7 mx-auto d-grid gap-2 text-center menu-button">
      <a class="button shadow menu-button-cardlist" href="/fnb/list" role="button">Food and Beverages</a>
      <a class="button shadow menu-button-cardlist" href="/card/list" role="button">Card List</a>
      <a class="button shadow menu-button-transaction" href="/payment/list" role="button">Payment List</a>
      <a class="button shadow menu-button-transaction" href="/user/list" role="button">User List</a>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-7 mx-auto">
      <div class="row">
        <div class="col-md-5 d-grid gap-2 text-center menu-button">
          <a class="button shadow menu-button-back" href="/" role="button">Back</a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>
</div>
<script src="/public/script/totalDineIn.js"></script>
