<div class="container my-1 multi-button">
  <div class="row">
    <div class="col-md-7 mx-auto d-grid gap-2 text-center menu-button">
      <!-- <a class="button shadow menu-button-checkin" href="/checkin/search" role="button">Check-In</a> -->
      <a class="button shadow menu-button-card-list" href="/card/list" role="button">Card List</a>
      <a class="button shadow menu-button-payment-list" href="/payment/list" role="button">Payment List</a>
      <!-- <a class="button shadow menu-button-member-list" href="/member/list" role="button">Member List</a> -->
      <a class="button shadow menu-button-fnb-list" href="/fnb/list" role="button">Food & Beverages</a>
      <a class="button shadow menu-button-crew-analytics" href="/crew/analytics" role="button">Crew Analytics</a>
      <a class="button shadow menu-button-user-list" href="/user/list" role="button">User List</a>
      <!-- <a class="button shadow menu-button-analysis" href="/analysis" role="button">Analysis</a> -->
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-7 mx-auto">
      <div class="row">
        <div class="col-md-5 d-grid gap-2 text-center menu-button">
          <a class="button shadow menu-button-back" href="/" role="button">Back</a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </div>
</div>
<!-- <script src="/public/script/totalDineIn.js"></script> -->
