<div class="container-xl">
  <div class="row">
    <div class="col-xl-6 my-2">
      <canvas id="incomePerHourChart"></canvas>
    </div>
    <div class="col-xl-6 my-2">
      <canvas id="incomeInHoursChart"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-10 my-2 mx-auto">
      <canvas id="incomePerDayChart"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-10 my-2 mx-auto">
      <canvas id="incomePerMonthChart"></canvas>
    </div>
  </div>
  <div class="row"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline"></script>
<script src="/public/script/analysisChart.js"></script>
