<div class="container-fluid my-2">
  <div class="row">
    <div class="col mx-auto">
      <div class="card">
        <div class="card-body mx-4">
          <div class="container">
            <p class="my-5 mx-5" style="font-size: 30px">Thank for your purchase</p>
            <div class="row">
              <table class="table table-sm table-borderless" style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 70%">Customer</td>
                    <td>Joe Wheeler</td>
                  </tr>
                  <tr>
                    <td>Invoice</td>
                    <td class="text-muted"><em>Otto8239826492442 29y49y9ehwwhhf979 279827rb9ryb2y2r9ry29ry987rb</em></td>
                  </tr>
                  <tr>
                    <td>Date</td>
                    <td>12-12-1970</td>
                  </tr>
                  <tr>
                    <td>Bartender</td>
                    <td>Daniel</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <hr />
              <div class="col-xl-8">
                <p class="m-0">Pro Package</p>
              </div>
              <div class="col-xl-2">
                <p class="m-0">x 2</p>
              </div>
              <div class="col-xl-2">
                <p class="float-end">$199.00</p>
              </div>
              <hr />
            </div>
            <div class="row">
              <div class="col-xl-8">
                <p class="m-0">Consulting</p>
              </div>
              <div class="col-xl-2">
                <p class="m-0">x 2</p>
              </div>
              <div class="col-xl-2">
                <p class="float-end">$100.00</p>
              </div>
              <hr />
            </div>
            <div class="row">
              <div class="col-xl-8">
                <p class="m-0">Support</p>
              </div>
              <div class="col-xl-2">
                <p class="m-0">x 2</p>
              </div>
              <div class="col-xl-2">
                <p class="float-end">$10.00</p>
              </div>
              <hr style="border: 2px solid black" />
            </div>
            <div class="row text-black">
              <div class="col-xl-12">
                <p class="float-end fw-bold">Total: $10.00</p>
              </div>
              <hr style="border: 2px solid black" />
            </div>
            <div class="text-center" style="margin-top: 90px">
              <a><u class="text-info">View in browser</u></a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-dark" onclick="window.print()">print</button>
</div>
