<div class="login-box">
  <h2>BAHARI</h2>
  <% if (alert) { %>

  <div class="row">
    <div class="col-md mx-auto">
      <div class="alert alert-dismissible alert-danger fade show mb-3">
        <button type="button" class="btn-close" data-mdb-toggle="animation" data-mdb-animation="slide-right" data-mdb-animation-start="onLoad" data-bs-dismiss="alert"></button>
        <strong>Oh no!</strong> <%= alert %>
      </div>
    </div>
  </div>

  <% } %>
  <form method="post" action="/auth/login">
    <label class="opacity-50">Login as: <strong>(Coming Soon!)</strong></label>
    <select type="text" class="form-select bg-info bg-opacity-50 fs-5 mt-1 opacity-50" id="usernamesoon" name="usernamesoon" aria-label="Large select example" disabled>
      <option value="agil">agil</option>
      <option value="agus">agus</option>
      <option value="gabriel">gabriel</option>
      <option value="viktor">viktor</option>
      <option value="geby">geby</option>
      <option value="ika">ika</option>
      <option value="luna">luna</option>
      <option selected>azhar</option>
      <option value="rudy">rudy</option>
      <option value="serverbahari">serverbahari</option>
      <option value="greeterbahari">greeterbahari</option>
      <option value="admin">admin</option>
    </select>
    <div class="user-box">
      <input type="text" name="username" required />
      <label>Username</label>
    </div>

    <div class="user-box">
      <input type="password" name="password" required />
      <label>Password</label>
    </div>
    <div class="button-box">
      <button class="border-0 btn-white btn" type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Log in
      </button>
    </div>
  </form>
</div>
