<div class="container my-2 multi-button">
  <div class="row">
    <div class="col-md-7 mx-auto d-grid gap-2 text-center menu-button">
      <a class="button shadow menu-button-checkin" href="/checkin/search" role="button">Check-In</a>
      <a class="button shadow menu-button-checkout" href="/checkout/search" role="button">Check-Out</a>
      <a class="button shadow menu-button-topup" href="#" role="button">Top-Up</a>
      <a class="button shadow menu-button-payment" href="#" role="button">Payment</a>
      <a class="button shadow menu-button-activation" href="/activation/search" role="button">Activation & Deactivation</a>
      <a class="button shadow menu-button-create" href="/create/search" role="button">Create a Card</a>
    </div>
  </div>
</div>
