<div class="container-fluid my-1">
  <div class="row mx-2">
    <div class="col-md-10 mx-auto">
      <div class="row my-2">
        <div class="col-md-4 mx-auto mb-5 d-grid gap-2 text-center multi-button menu-button py-2">
          <!-- <a class="button shadow menu-button-checkin" href="/checkin/search" role="button">Check-In</a> -->
          <a class="button shadow menu-button-topup" href="/topup/search" role="button">Top-Up</a>
          <a class="button shadow menu-button-payment" href="/payment/search" role="button">Payment</a>
          <a class="button shadow menu-button-checkout" href="/checkout/search" role="button">Check-Out</a>
          <a class="button shadow menu-button-activation" href="/activation/search" role="button">Activation</a>
          <a class="button shadow menu-button-create" href="/create/search" role="button">Create a Card</a>
          <a class="button shadow menu-button-balance-check" href="/card/search" role="button">Balance Check</a>
          <!-- <div class="button shadow menu-button-balance-adjustment" role="button">
            <div class="position-relative">
              <div class="position-absolute top-0 start-0 translate-middle px-2 on-progress fs-5">Upcoming</div>
            </div>
            <div>Adjustment</div>
          </div> -->
          <!-- href="/adjustment/search"  -->
          <!-- <div class="button shadow menu-button-card-transfer" role="button">
            <div class="position-relative">
              <div class="position-absolute top-0 start-0 translate-middle px-2 on-progress fs-5">Upcoming</div>
            </div>
            <div>Card Transfer</div>
          </div> -->
          <!-- href="/transfer/search" -->
          <!-- <div class="button shadow menu-button-member-area" role="button">
            <div class="position-relative">
              <div class="position-absolute top-0 start-0 translate-middle px-2 on-progress fs-5">Upcoming</div>
            </div>
            <div>Member Area</div>
          </div> -->
          <!-- href="/member" -->

          <!-- <a class="button shadow menu-button-create" href="/member/search" role="button">Add Member</a> -->
          <a class="button-logout shadow my-auto menu-button-logout" href="/logout" role="button">Logout</a>
          <a class="button shadow my-auto menu-button-advanced" href="/advanced" role="button">Advanced</a>
        </div>
        <div class="col-md-8 mx-auto px-4 py-2 rounded-4">
          <div class="row">
            <div class="col">
              <div class="row pt-1 pb-3">
                <div class="col-md-3 rounded-4">
                  <div class="row">
                    <div class="col-md shadow blurred-box">
                      <div class="my-3 py-auto">
                        <div class="spinner-grow text-danger" role="status" style="max-height: 15px; max-width: 15px">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="fs-6 mx-2 mb-0 d-inline">Daily Report</p>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md mb-3 shadow blurred-box">
                      <p class="mt-2 fs-4">Payment</p>
                      <p class="mb-0 mt-1 fs-6 text-secondary mt-3">IDR</p>
                      <div class="text-secondary fs-6 mb-3 total-payment-data">
                        <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col mx-3">
                  <div class="row py-3 blurred-box-violet-light">
                    <div class="py-auto d-flex align-items-center">
                      <p class="fs-4 mx-2 mb-0">Checkout</p>
                      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#77767b" style="width: 40px">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier"><path d="M12 9.5C13.3807 9.5 14.5 10.6193 14.5 12C14.5 13.3807 13.3807 14.5 12 14.5C10.6193 14.5 9.5 13.3807 9.5 12C9.5 10.6193 10.6193 9.5 12 9.5Z" fill="#77767b"></path></g>
                      </svg>
                      <div class="d-flex align-items-center">
                        <p class="fs-5 mx-2 mb-0 text-secondary">Total :</p>
                        <div class="fs-5 text-secondary">IDR</div>
                        <div class="fs-5 text-secondary mx-2 total-checkout-data"></div>
                      </div>
                    </div>
                    <div class="col mt-2">
                      <div class="row d-flex flex-nowrap overflow-auto px-2 pt-1 pb-3">
                        <div class="col-3 mx-2 shadow blurred-box rounded-4">
                          <p class="mt-2 fs-4 text-secondary">Cash</p>
                          <p class="mb-0 fs-6 text-secondary mt-4">IDR</p>
                          <div class="text-secondary fs-6 mb-3 total-checkout-cash-data">
                            <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-3 mx-2 shadow blurred-box-blue rounded-4">
                          <p class="mt-2 mb-0 fs-6 text-secondary">Transfer</p>
                          <p class="fs-6 text-secondary">BCA</p>
                          <p class="mb-0 mt-2 fs-6 text-secondary mt-3">IDR</p>
                          <div class="text-secondary fs-6 mb-3 total-checkout-transfer-bca-data">
                            <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-3 mx-2 shadow blurred-box-yellow rounded-4">
                          <p class="mt-2 mb-0 fs-6 text-secondary">Transfer</p>
                          <p class="fs-6 text-secondary">MANDIRI</p>
                          <p class="mb-0 mt-2 fs-6 text-secondary mt-3">IDR</p>
                          <div class="text-secondary fs-6 mb-3 total-checkout-transfer-mandiri-data">
                            <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                              <span class="visually-hidden">Loading...</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row py-3 blurred-box-violet-light">
            <div class="py-auto d-flex align-items-center">
              <p class="fs-4 mx-2 mb-0">Top-Up</p>
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#77767b" style="width: 40px">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier"><path d="M12 9.5C13.3807 9.5 14.5 10.6193 14.5 12C14.5 13.3807 13.3807 14.5 12 14.5C10.6193 14.5 9.5 13.3807 9.5 12C9.5 10.6193 10.6193 9.5 12 9.5Z" fill="#77767b"></path></g>
              </svg>
              <div class="d-flex align-items-center">
                <p class="fs-5 mx-2 mb-0 text-secondary">Total :</p>
                <div class="fs-5 text-secondary">IDR</div>
                <div class="fs-5 text-secondary mx-2 total-topup-data"></div>
              </div>
            </div>
            <div class="col-md mt-2">
              <div class="row d-flex flex-nowrap overflow-auto px-2 pt-1 pb-3">
                <div class="col-md-2 mx-2 shadow blurred-box rounded-4">
                  <p class="mt-2 fs-4 text-secondary">Cash</p>
                  <p class="mb-0 fs-6 text-secondary mt-4">IDR</p>
                  <div class="mb-3 text-secondary total-topup-cash-data">
                    <div class="text-secondary fs-6 mb-3">
                      <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mx-2 shadow blurred-box-blue rounded-4">
                  <p class="mt-2 mb-0 fs-6 text-secondary">Transfer</p>
                  <p class="fs-6 text-secondary">BCA</p>
                  <p class="mb-0 mt-2 fs-6 text-secondary mt-3">IDR</p>
                  <div class="mb-3 text-secondary total-topup-transfer-bca-data">
                    <div class="text-secondary fs-6 mb-3">
                      <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mx-2 shadow blurred-box-blue rounded-4">
                  <p class="mt-2 mb-0 fs-6 text-secondary">EDC</p>
                  <p class="fs-6 text-secondary">BCA</p>
                  <p class="mb-0 mt-2 fs-6 text-secondary mt-3">IDR</p>
                  <div class="mb-3 text-secondary total-topup-edc-bca-data">
                    <div class="text-secondary fs-6 mb-3">
                      <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mx-2 shadow blurred-box-blue rounded-4">
                  <p class="mt-2 mb-0 fs-6 text-secondary">QRIS</p>
                  <p class="fs-6 text-secondary">BCA</p>
                  <p class="mb-0 mt-2 fs-6 text-secondary mt-3">IDR</p>
                  <div class="mb-3 text-secondary total-topup-qris-bca-data">
                    <div class="text-secondary fs-6 mb-3">
                      <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mx-2 shadow blurred-box-yellow rounded-4">
                  <p class="mt-2 mb-0 fs-6 text-secondary">Transfer</p>
                  <p class="fs-6 text-secondary">MANDIRI</p>
                  <p class="mb-0 mt-2 fs-6 text-secondary mt-3">IDR</p>
                  <div class="mb-3 text-secondary total-topup-transfer-mandiri-data">
                    <div class="text-secondary fs-6 mb-3">
                      <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mx-2 shadow blurred-box-yellow rounded-4">
                  <p class="mt-2 mb-0 fs-6 text-secondary">EDC</p>
                  <p class="fs-6 text-secondary">MANDIRI</p>
                  <p class="mb-0 mt-2 fs-6 text-secondary mt-3">IDR</p>
                  <div class="mb-3 text-secondary total-topup-edc-mandiri-data">
                    <div class="text-secondary fs-6 mb-3">
                      <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mx-2 shadow blurred-box-orange rounded-4">
                  <p class="mt-2 mb-0 fs-6 text-secondary">EDC</p>
                  <p class="fs-6 text-secondary">BNI</p>
                  <p class="mb-0 mt-2 fs-6 text-secondary mt-3">IDR</p>
                  <div class="mb-3 text-secondary total-topup-edc-bni-data">
                    <div class="text-secondary fs-6 mb-3">
                      <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mx-2 shadow blurred-box-yellow rounded-4">
                  <p class="mt-2 mb-0 fs-6 text-secondary">QRIS</p>
                  <p class="fs-6 text-secondary">MANDIRI</p>
                  <p class="mb-0 mt-2 fs-6 text-secondary mt-3">IDR</p>
                  <div class="mb-3 text-secondary total-topup-qris-mandiri-data">
                    <div class="text-secondary fs-6 mb-3">
                      <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md">
              <p class="fs-6 mb-0">Total Payments (without bottle payment) <span class="text-secondary" style="font-size: 10px">not real-time, please refresh page to update</span></p>
              <p class="text-secondary mb-0">IDR</p>
              <div class="text-secondary total-payment-from-bcm">
                <div class="text-secondary fs-6 mb-3">
                  <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md">
              <p class="fs-6 mb-0">Total Payments (from MOKA POS) <span class="text-secondary" style="font-size: 10px">*not real-time</span></p>
              <p class="text-secondary mb-0">IDR</p>
              <div class="text-secondary total-payment-from-moka">
                <div class="text-secondary fs-6 mb-3">
                  <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-3">
            <div class="col-md">
              <p class="fs-6 mb-0">Total Refunds (from MOKA POS) <span class="text-secondary" style="font-size: 10px">*not real-time</span></p>
              <p class="text-secondary mb-0">IDR</p>
              <div class="text-secondary total-refund-from-moka">
                <div class="text-secondary fs-6 mb-3">
                  <div class="spinner-border text-secondary" role="status" style="max-width: 19px; max-height: 19px">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row my-3">
            <div class="col-md">
              <p class="text-end mb-0 text-secondary" style="font-size: 10px">The report calculates only at 01.00 PM - 04.00 AM</p>
              <p class="text-end text-secondary" style="font-size: 10px">and will be reset daily at 01.00 PM</p>
              <p class="text-end text-secondary" style="font-size: 10px">*not real-time means you have to refresh page to update</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row my-2 multi-button">
    <div class="col-md-12 mx-auto">
      <div class="row">
        <div class="col-md-6 d-grid gap-2 text-center menu-button"></div>

        <div class="col-md-6 d-grid gap-2 text-center menu-button"></div>
      </div>
    </div>
  </div> -->
</div>

<script>
  const totalPaymentData = document.querySelector('.total-payment-data');
  const totalTopupData = document.querySelector('.total-topup-data');
  const totalCheckoutData = document.querySelector('.total-checkout-data');
  const totalTopupCashData = document.querySelector('.total-topup-cash-data');
  const totalTopupTransferBcaData = document.querySelector('.total-topup-transfer-bca-data');
  const totalTopupTransferMandiriData = document.querySelector('.total-topup-transfer-mandiri-data');
  const totalTopupEdcBcaData = document.querySelector('.total-topup-edc-bca-data');
  const totalTopupEdcMandiriData = document.querySelector('.total-topup-edc-mandiri-data');
  const totalTopupEdcBNIData = document.querySelector('.total-topup-edc-bni-data');
  const totalTopupQrisBcaData = document.querySelector('.total-topup-qris-bca-data');
  const totalTopupQrisMandiriData = document.querySelector('.total-topup-qris-mandiri-data');
  const totalCheckoutCashData = document.querySelector('.total-checkout-cash-data');
  const totalCheckoutTransferBcaData = document.querySelector('.total-checkout-transfer-bca-data');
  const totalCheckoutTransferMandiriData = document.querySelector('.total-checkout-transfer-mandiri-data');
  const totalPaymentFromMoka = document.querySelector('.total-payment-from-moka');
  const totalRefundFromMoka = document.querySelector('.total-refund-from-moka');
  const totalPaymentFromBcm = document.querySelector('.total-payment-from-bcm');

  async function fetchTotalPayment() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/payment');
      const data = await response.json();

      let totalPayment = 0;
      data.forEach((element) => {
        totalPayment = totalPayment + element.payment;
      });

      totalPayment = Intl.NumberFormat('en-US').format(totalPayment);

      totalPaymentData.innerHTML = totalPayment;
    } catch (error) {
      totalPaymentData.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalPaymentFromMoka() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/total-payments');
      const data = await response.json();

      let totalPurchasesMoka = Intl.NumberFormat('en-US').format(data.mokaPurchases);
      let totalRefundsMoka = Intl.NumberFormat('en-US').format(data.mokaRefunds);
      let totalPurchasesBcm = Intl.NumberFormat('en-US').format(data.bcm);

      totalPaymentFromMoka.innerHTML = totalPurchasesMoka;
      totalRefundFromMoka.innerHTML = totalRefundsMoka;
      totalPaymentFromBcm.innerHTML = totalPurchasesBcm;
    } catch (error) {
      totalPaymentFromMoka.innerHTML = 'Not Available';
      totalRefundFromMoka.innerHTML = 'Not Available';
      totalPaymentFromBcm.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalTopup() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/topup');
      const data = await response.json();

      let totalTopup = 0;
      data.forEach((element) => {
        totalTopup = totalTopup + element.payment;
      });

      totalTopup = Intl.NumberFormat('en-US').format(totalTopup);

      totalTopupData.innerHTML = totalTopup;
    } catch (error) {
      totalTopupData.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalTopupCash() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/topup/cash');
      const data = await response.json();

      let totalTopupCash = 0;
      data.forEach((element) => {
        totalTopupCash = totalTopupCash + element.payment;
      });

      totalTopupCash = Intl.NumberFormat('en-US').format(totalTopupCash);

      totalTopupCashData.innerHTML = totalTopupCash;
    } catch (error) {
      totalTopupCashData.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalTopupTransferBca() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/topup/transfer/bca');
      const data = await response.json();

      let totalTopupTransferBca = 0;
      data.forEach((element) => {
        totalTopupTransferBca = totalTopupTransferBca + element.payment;
      });

      totalTopupTransferBca = Intl.NumberFormat('en-US').format(totalTopupTransferBca);

      totalTopupTransferBcaData.innerHTML = totalTopupTransferBca;
    } catch (error) {
      totalTopupTransferBcaData.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalTopupTransferMandiri() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/topup/transfer/mandiri');
      const data = await response.json();

      let totalTopupTransferMandiri = 0;
      data.forEach((element) => {
        totalTopupTransferMandiri = totalTopupTransferMandiri + element.payment;
      });

      totalTopupTransferMandiri = Intl.NumberFormat('en-US').format(totalTopupTransferMandiri);

      totalTopupTransferMandiriData.innerHTML = totalTopupTransferMandiri;
    } catch (error) {
      totalTopupTransferMandiriData.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalTopupEdcBca() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/topup/edc/bca');
      const data = await response.json();

      let totalTopupEdcBca = 0;
      data.forEach((element) => {
        totalTopupEdcBca = totalTopupEdcBca + element.payment;
      });

      totalTopupEdcBca = Intl.NumberFormat('en-US').format(totalTopupEdcBca);

      totalTopupEdcBcaData.innerHTML = totalTopupEdcBca;
    } catch (error) {
      totalTopupEdcBcaData.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalTopupEdcMandiri() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/topup/edc/mandiri');
      const data = await response.json();

      let totalTopupEdcMandiri = 0;
      data.forEach((element) => {
        totalTopupEdcMandiri = totalTopupEdcMandiri + element.payment;
      });

      totalTopupEdcMandiri = Intl.NumberFormat('en-US').format(totalTopupEdcMandiri);

      totalTopupEdcMandiriData.innerHTML = totalTopupEdcMandiri;
    } catch (error) {
      totalTopupEdcMandiriData.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalTopupEdcBNI() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/topup/edc/bni');
      const data = await response.json();

      let totalTopupEdcBNI = 0;
      data.forEach((element) => {
        totalTopupEdcBNI = totalTopupEdcBNI + element.payment;
      });

      totalTopupEdcBNI = Intl.NumberFormat('en-US').format(totalTopupEdcBNI);

      totalTopupEdcBNIData.innerHTML = totalTopupEdcBNI;
    } catch (error) {
      totalTopupEdcBNIData.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalTopupQrisBca() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/topup/qris/bca');
      const data = await response.json();

      let totalTopupQrisBca = 0;
      data.forEach((element) => {
        totalTopupQrisBca = totalTopupQrisBca + element.payment;
      });

      totalTopupQrisBca = Intl.NumberFormat('en-US').format(totalTopupQrisBca);

      totalTopupQrisBcaData.innerHTML = totalTopupQrisBca;
    } catch (error) {
      totalTopupQrisBcaData.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalTopupQrisMandiri() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/topup/qris/mandiri');
      const data = await response.json();

      let totalTopupQrisMandiri = 0;
      data.forEach((element) => {
        totalTopupQrisMandiri = totalTopupQrisMandiri + element.payment;
      });

      totalTopupQrisMandiri = Intl.NumberFormat('en-US').format(totalTopupQrisMandiri);

      totalTopupQrisMandiriData.innerHTML = totalTopupQrisMandiri;
    } catch (error) {
      totalTopupQrisMandiriData.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalCheckout() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/checkout');
      const data = await response.json();

      let totalCheckout = 0;
      data.forEach((element) => {
        totalCheckout = totalCheckout + element.payment;
      });

      totalCheckout = Intl.NumberFormat('en-US').format(totalCheckout);

      totalCheckoutData.innerHTML = totalCheckout;
    } catch (error) {
      totalCheckoutData.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalCheckoutCash() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/checkout/cash');
      const data = await response.json();

      let totalCheckoutCash = 0;
      data.forEach((element) => {
        totalCheckoutCash = totalCheckoutCash + element.payment;
      });

      totalCheckoutCash = Intl.NumberFormat('en-US').format(totalCheckoutCash);

      totalCheckoutCashData.innerHTML = totalCheckoutCash;
    } catch (error) {
      totalCheckoutCashData.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalCheckoutTransferBca() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/checkout/transfer/bca');
      const data = await response.json();

      let totalCheckoutTransferBca = 0;
      data.forEach((element) => {
        totalCheckoutTransferBca = totalCheckoutTransferBca + element.payment;
      });

      totalCheckoutTransferBca = Intl.NumberFormat('en-US').format(totalCheckoutTransferBca);

      totalCheckoutTransferBcaData.innerHTML = totalCheckoutTransferBca;
    } catch (error) {
      totalCheckoutTransferBcaData.innerHTML = 'Not Available';
    }
  }

  async function fetchTotalCheckoutTransferMandiri() {
    try {
      const response = await fetch('https://baharimalangirishpub-app.com/analysis/checkout/transfer/mandiri');
      const data = await response.json();

      let totalCheckoutTransferMandiri = 0;
      data.forEach((element) => {
        totalCheckoutTransferMandiri = totalCheckoutTransferMandiri + element.payment;
      });

      totalCheckoutTransferMandiri = Intl.NumberFormat('en-US').format(totalCheckoutTransferMandiri);

      totalCheckoutTransferMandiriData.innerHTML = totalCheckoutTransferMandiri;
    } catch (error) {
      totalCheckoutTransferMandiriData.innerHTML = 'Not Available';
    }
  }

  // DO NOT REAL-TIME FETCH MOKA TRANSACTIONS
  fetchTotalPaymentFromMoka();

  setInterval(() => {
    fetchTotalPayment();
    fetchTotalTopupCash();
    fetchTotalTopupTransferBca();
    fetchTotalTopupTransferMandiri();
    fetchTotalTopupEdcBca();
    fetchTotalTopupEdcMandiri();
    fetchTotalTopupEdcBNI();
    fetchTotalTopupQrisBca();
    fetchTotalTopupQrisMandiri();
    fetchTotalCheckoutCash();
    fetchTotalCheckoutTransferBca();
    fetchTotalCheckoutTransferMandiri();
    fetchTotalTopup();
    fetchTotalCheckout();
  }, 1000);
</script>

<!-- <script src="/public/script/totalDineIn.js"></script> -->
