<div class="container-md my-1">
  <div class="row">
    <div class="col-8 mx-auto">
      <h4 class="text-secondary"><%= subtitle %></h4>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-8 mx-auto">
      <h6>Enter Customer's Phone and Card Number</h6>
    </div>
  </div>
  <% if (alert) { %>
  <div class="row my-2">
    <div class="col-md-8 mx-auto">
      <div class="alert alert-dismissible alert-warning fade show mb-3">
        <button type="button" class="btn-close" data-mdb-toggle="animation" data-mdb-animation="slide-right" data-mdb-animation-start="onLoad" data-bs-dismiss="alert"></button>
        <strong>Oh no!</strong> <%= alert %>
      </div>
    </div>
  </div>
  <% } %>
  <div class="row my-2">
    <div class="col-md-8 p-4 mx-auto rounded-4 bg-light shadow">
      <form role="search">
        <div class="input-group mb-3">
          <span class="input-group-text" id="customerId">Phone :</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="customerId" name="customerId" value="<%= customerId %>" required />
          <span class="input-group-text" id="barcode">Card :</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="barcode" name="barcode" value="<%= barcode %>" required />
        </div>
        <div>
          <button class="btn btn-secondary">Check Eligibility</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row my-5 multi-button">
    <div class="col-lg-8 mx-auto text-center">
      <a class="button shadow my-3" href="/member" role="button">Back</a>
      <a class="button shadow my-3" href="/" role="button">Menu</a>
    </div>
  </div>
</div>
