<div class="container-md my-3">
  <div class="row my-2">
    <div class="col-md-8 mx-auto">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p><%= message %></p>
        <hr />
        <p class="mb-0">Hit the "Back to Menu" button to go to homepage</p>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-8 mx-auto">
      <a class="btn btn-search" href="/" role="button">Back to Menu</a>
    </div>
  </div>
</div>
