<div class="container-md my-3">
  <div class="row my-2">
    <div class="col-md-8 mx-auto">
      <div class="card text-white bg-danger mb-3">
        <div class="card-header">ERROR</div>
        <div class="card-body">
          <h5 class="card-title">Error Message</h5>
          <p class="card-text"><%= message %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-8 mx-auto">
      <button class="btn btn-search" onclick="history.back()"><span class="mx-2">Back</span></button>
    </div>
  </div>
</div>
