<div class="container-md">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="text-end">
          <a href="/payment/invoice/<%= invoiceNumber %>" target="_blank">
            <svg width="28px" height="28px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <defs>
                <style>
                  .cls-1 {
                    fill: #0e7cc9;
                  }
                  .cls-2 {
                    fill: #47a6e3;
                  }
                  .cls-3 {
                    fill: #eaeaea;
                  }
                  .cls-4 {
                    fill: #ccc;
                  }
                  .cls-5 {
                    fill: #9f9fff;
                  }
                  .cls-6 {
                    fill: #2b2be0;
                  }
                  .cls-7 {
                    fill: #6c2e7c;
                  }
                </style>
              </defs>

              <g id="Icons">
                <rect class="cls-1" height="14" rx="3" width="22" x="1" y="6" />

                <rect class="cls-2" height="9" rx="3" width="22" x="1" y="6" />

                <path class="cls-3" d="M8,1h8a2,2,0,0,1,2,2V6a0,0,0,0,1,0,0H6A0,0,0,0,1,6,6V3A2,2,0,0,1,8,1Z" />

                <path class="cls-4" d="M18,16v5a2.006,2.006,0,0,1-2,2H8a2.006,2.006,0,0,1-2-2V16Z" />

                <path class="cls-3" d="M18,16a2.006,2.006,0,0,1-2,2H8a2.006,2.006,0,0,1-2-2Z" />

                <path class="cls-5" d="M6,11H5A1,1,0,0,1,5,9H6a1,1,0,0,1,0,2Z" />

                <path class="cls-5" d="M11,11H10a1,1,0,0,1,0-2h1a1,1,0,0,1,0,2Z" />

                <path class="cls-6" d="M19,17H5a1,1,0,0,1,0-2H19a1,1,0,0,1,0,2Z" />
              </g>

              <g data-name="Layer 4" id="Layer_4">
                <path
                  class="cls-7"
                  d="M20,5H19V3a3,3,0,0,0-3-3H8A3,3,0,0,0,5,3V5H4A4,4,0,0,0,0,9v8a4,4,0,0,0,4,4H5a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3h1a4,4,0,0,0,4-4V9A4,4,0,0,0,20,5ZM7,3A1,1,0,0,1,8,2h8a1,1,0,0,1,1,1V5H7ZM17,21a1,1,0,0,1-1,1H8a1,1,0,0,1-1-1V17H17Zm5-4a2,2,0,0,1-2,2H19V17a1,1,0,0,0,0-2H5a1,1,0,0,0,0,2v2H4a2,2,0,0,1-2-2V9A2,2,0,0,1,4,7H20a2,2,0,0,1,2,2Z"
                />

                <path class="cls-7" d="M6,9H5a1,1,0,0,0,0,2H6A1,1,0,0,0,6,9Z" />

                <path class="cls-7" d="M11,9H10a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Z" />
              </g>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('notificationSuccess') %>
<div class="container-md my-2">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="mb-1 col-auto">
          <label for="name" class="form-label text-secondary">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= data.customer_name %>" readonly />
        </div>

        <div class="mb-1 col-auto">
          <label for="balance" class="form-label text-secondary">Balance</label>
          <input type="text" class="form-control" id="balance" name="balance" value="<%= data.balance %>" readonly />
        </div>
      </div>
    </div>
  </div>
</div>
